.wraper {
    display: flex;
    flex-direction: column;
}

.wraperScrum {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: auto;
    justify-content: center;
    align-items: center;
}

.headerWraper {
    width: 50%;
    height: 50%;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.headerScrum {
    background-color: #7C4885;
    border-radius: 30px;
    padding: 40px;
    color: #fff;
    margin: 10px;
    font-size: 2rem;
}

.textWraper {
    width: 50%;
    height: 40%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.scrumText {
    width: 80%;
    height: auto;
    display: flex;
}

.wraperDevelop  {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: auto;
    justify-content: center;
    align-items: center;
}

.wrapertext {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: auto;
    justify-content: center;
    align-items: center;
}

.developText {
    width: 50%;
    height: 40%;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
}

.headerDevelop {
    font-size: 2rem;
    text-align: center;    
}

@media only screen and (max-width: 768px) {

    .wraperScrum {
        display: flex;
        flex-direction: column;
    }

    .wraperDevelop {
        display: flex;
        flex-direction: column;
    }

    .headerWraper {
        width: 80%;
        height: 30%;
        text-align: center;
    }

    .textWraper {
        width: 100%;
    }

    .headerScrum {
        font-size: 3rem;
    }

    .headerDevelop {
        font-size: 3rem;
    }
}