.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px; 
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

.cykleimage {
    border-radius: 20px;
    width: 100%; 
    height: auto;
}

.text {
    text-align: center;
    margin: 0 auto;
    max-width: 70%; 
    color: #666;
    line-height: 1.6;
}

.navigationButton {
    display: flex;
    justify-content: center;
    margin: 24px;
}

@media screen and (min-width: 768px) {

    .cykleimage {
        margin-left: 5%;
        width: 35%;
    }

    .container {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    .container .cykleimage {
        max-width: 40%;
        margin-bottom: 0; 
        margin-right: 20px; 
    }

    .text {
        text-align: center;
        width: 40%;
    }
}