html {
    background-color: #FDF1F8;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px; 
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    border-radius: 20px;
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
    text-align: center;
    margin: 0 auto;
    max-width: 70%; 
    color: #666;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    .container img {
        max-width: 40%;
        margin-bottom: 0; 
        margin-right: 20px; 
    }

    .text {
        text-align: center;
        width: 40%;
    }
}