.imagepart {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #8E8E8E;
}

.imagewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
}

.teamimage {
    width: 100%;
    border-radius: 10%;
}

.whatText {
    margin: 20px;
    width: 400px;
}

.textwrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;
}

.productpart {
    display: flex;
    padding: 20px;
}

.headerwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 20px;
}

.headertext {
    margin: 0;
    font-size: 3rem;
}

@media only screen and (max-width: 767px) {

    .whatText {
        width: 90%;
        text-align: center;
    }

    .imagepart {
        flex-direction: column;
        align-items: center;
        border-bottom: none;
    }

    .imagewrapper {
        width: 50%;
    }

    .productpart {
        flex-direction: column;
        align-items: center;
    }

    .headertext {
        text-align: center;
    }

    .textwrapper {
        width: 100%;
    }

    .productOwnerText {
        margin: 10px;
    }
}