.theoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;
}

.contentContainer h2 {
    background-color: var(--essence-dark-green);
    border-radius: 10px;
    color: #fff;
    padding: 16px;
    flex-grow: 0;
}

.contentContainer p {
    flex-grow: 0;
}

.theoryContainer * {
    flex: 1;
}

.imgContainer {
    display: flex;
    padding: 24px;
    justify-content: center;
}

.imgContainer img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

@media screen and (min-width: 768px) {
    .theoryContainer {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .theoryContainer {
      padding: 0 200px
    }
  }